---
layout: markdown_page
title: Development Department
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

...

## Mission

...


## Team Members

The following people are permanent members of the Development Department:

<%
DEPARTMENTS = ['CI/CD', 'Defend', 'Dev' , 'Enablement', 'Growth', 'Ops', 'Secure', 'Fellow']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Senior Director of Development') %>


## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Development/, direct_manager_role: 'Senior Director of Development') %>

## Common Links


